.mainContent {
    min-height: 100vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-left: 1px solid #e5e7eb;
}

.newNoteContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}